<h2>Your Profile</h2>
<div>First Name: <%= currentUser.firstName%></div>
<div>Last Name: <%= currentUser.lastName%></div>
<div>Email: <%= currentUser.emailAddress%></div>
<a href="/auth/edit?id=<%=currentUser.id%>"><button type="menu" class="btn btn-outline-primary">Edit Profile</button></a>
<a href="/auth/password?id=<%=currentUser.id%>"><button type="menu" class="btn btn-outline-primary">Update Password</button></a>
<hr>
<div> <h3>Teams created by you: </h3>
    <table class="table table-dark table-striped">
        <tr>
            <th>Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    <% team.forEach(function(team){%>
        <% if (team.createdBy == currentUser.id) { %>
            <tr>
                <td><a href="/teams/detail?id=<%=team.id%>"><%= team.name%></a></td> 
                <td><a href="/teams/edit?id=<%=team.id%>">Edit</a></td>
                <td><a href="/teams/delete?id=<%=team.id%>">Delete</a></td>
            </tr>
        <% } %>
    <%})%>
    </table>
</div>
<hr>
<div> <h3>Sports created by you:</h3> 
    <table class="table table-dark table-striped">
        <tr>
            <th>Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    <% sports.forEach(function(sports){%>
        <% if (sports.createdBy == currentUser.id) { %>
            <tr>
                <td><a href="/sports/detail?id=<%=sports.id%>"><%= sports.name%></a></td>
                <td><a href="/sports/edit?id=<%=sports.id%>">Edit</a></td>
                <td><a href="/sports/delete?id=<%=sports.id%>">Delete</a></td>
            </tr>
        <% } %>
    <%})%>
    </table>
</div>
<hr>


