<div><%= team.name%></div>
        <div><%= team.sport%></div>
        <div><%= team.borough%></div>
        <div><%= team.minAge%></div>
        <div><%= team.description%></div>
        <div><%= team.level%></div>
        <div><%= team.address%></div>
        <div><%= team.contactEmail%></div>
        <div><%= team.contactPhone%></div>