<h1>All Teams</h1>

<table>

    <tr>
        <th>Name</th>
        <th>Sport</th>
        <th>Borough</th>
        <th>Minimum Age</th>
        <th>Description</th>
        <th>Level</th>
        <th>Address</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Created At</th>
        <th>Updated At</th>
    </tr>

<% teams.forEach(function(team) { %>

    <tr>
        <td><a href="/teams/detail?id=<%=team.id%>"><%= team.name%></a></td>
        <td><%= team.sports.name%></td>
        <td><%= team.borough%></td>
        <td><%= team.minAge%></td>
        <td><%= team.description%></td>
        <td><%= team.level%></td>
        <td><%= team.address%></td>
        <td><%= team.contactEmail%></td>
        <td><%= team.contactPhone%></td>
        <td>
            <a href="/teams/edit?id=<%=team.id%>">Edit</a>
        </td>
        <td>
            <a href="/teams/delete?id=<%=team.id%>">Delete</a>
        </td>
        <td><%= moment(team.createdAt).fromNow() %></td>
        <td><%= moment(team.updatedAt).fromNow() %></td>
    </tr>

<% }) %>

</table>