<div><%= sports.name%></div>
        <% sports.teams.forEach(function(teams){%>
                
                <div><%=team.name%></div>
        <%})%>
        <div><%= sports.boroughs%></div>
        <div><%= sports.description%></div>
        <div><%= sports.imageUrl%></div>
        <hr>
        <div>Created at: <%= moment(sports.createdAt).fromNow() %></div>
        <div>Updated at: <%= moment(sports.updatedAt).fromNow() %></div>