<div class="detail-container">
        <h2 class="detailsHeader detailsPage"><%= sports.name%></h2>
        <div>Borough: <%= sports.boroughs%></div>
        <div>Sport Description: <%= sports.description%></div>
        <hr>
        <div> Teams playing this sport: 
                <% sports.teams.forEach(function(teams){%>
                        <div><a href="/teams/detail?id=<%= teams.id%>"><%=teams.name%></a></div>
                <%})%>
        </div>
        <hr>
        <div class="stamp">Created By: <%= sports.createdBy.firstName%> <%= sports.createdBy.lastName%></div>

        <div class="stamp">Created at: <%= moment(sports.createdAt).fromNow() %></div>
        <div class="stamp">Updated at: <%= moment(sports.updatedAt).fromNow() %></div>
</div>