<h2 class="form-header">Edit <%= sports.name%></h2>
<form method="POST" action="/sports/update?_method=PUT">

    
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" id="name" name="name" class="form-control" value="<%= sports.name%>" required/>
    </div>
    <div class="mb-3">
        <label for="boroughs" class="form-label">Borough</label>
        <select id="boroughs" name="boroughs" class="form-select" required>
            <option selected disabled hidden>Choose a London Borough</option>
            <option value="City of London">City of London</option>
            <option value="Hackney">Hackney</option>
            <option value="Hammersmith & Fulham">Hammersmith & Fulham</option>
            <option value="Islington">Islington</option>
            <option value="Kensington & Chelsea">Kensington & Chelsea</option>
            <option value="Southwark">Southwark</option>
            <option value="Westminister">Westminister</option>
        </select>
        <div id="boroughHelp" class="form-text">We currently only cover the central London boroughs, but hope to expand soon!</div>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Sport Description</label>
        <textarea id="description" rows="8" cols="40" name="description" class="form-control" value="<%= sports.description%>" required><%= sports.description%></textarea>
    </div>
    <!-- <div class="mb-3">
        <label for="imageUrl" class="form-label">Image URL</label>
        <input type="text" id="imageUrl" name="imageUrl" class="form-control" value="<%= sports.imageUrl%>" required/>
    </div> -->

    <input type="hidden" name="id" value="<%= sports._id%>" />

    <br>

    <button type="submit" class="btn btn-outline-primary">Update Sport</button>

</form>

<br>
<br>