<h1>All Sports</h1>

<table>

    <tr>
        <th>Name</th>
        <!-- <th>Teams</th> -->
        <th>Boroughs</th>
        <th>Description</th>
        <th>Image URL</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Created At</th>
        <th>Updated At</th>
    </tr>

<% sports.forEach(function(sports) { %>

    <tr>
        <td><a href="/sports/detail?id=<%=sports.id%>"><%= sports.name%></a></td>
        <!-- <td><%= sports.teams%></td> -->
        <td><%= sports.boroughs%></td>
        <td><%= sports.description%></td>
        <td><%= sports.imageUrl%></td>
        <td>
            <a href="/sports/edit?id=<%=sports.id%>">Edit</a>
        </td>
        <td>
            <a href="/sports/delete?id=<%=sports.id%>">Delete</a>
        </td>
        <td><%= moment(sports.createdAt).fromNow() %></td>
        <td><%= moment(sports.updatedAt).fromNow() %></td>
    </tr>

<% }) %>

</table>